@import "./layout/header";
@import "./layout/footer";
@import "./layout/titles";
@import "./components/principles";
@import "./components/reviews";
@import "./components/locationReservation";
@import "./components/menu";
@import "./components/events";
@import "./components/eventForm";
@import "./components/blog";
@import "./components/aboutUs";
@import "./utilities/extends";



@media screen and (min-width: 300px) {
  .container {
    background-color: $color2a;
    min-width: 300px;
    max-width: 100vw;
    margin: 0;
    padding: 0;
  }
}
