@import "../utilities/variables";
@import "../utilities/extends";


/*Header*/
#logo{
  filter: grayscale(20%);
}

#navbarSupportedContent{
  margin-bottom: auto;
}

.navbar-nav{
  gap: 2rem;
  margin: 3rem;
  justify-content: space-between;
}

.navbar-toggler{
  background-color: $color2;
  border: none;
}

.nav-item{
  background-color: $color2;
  border-radius: 15px;
  font-family: "Playwrite GB S", serif;
  @extend %flex-center;
  box-shadow: 0 1px 2px $color3;
}

.nav-link{
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem;
  color: $color3;
}

.navbar-collapse{
  flex-grow: 0;
}

.active{
  background-color: $color1;
  border-radius: 15px;
  width: 100%;
  text-align: center;
}

.navbar-nav .nav-item:hover {
  background-color: $color1;
  border-radius: 15px;
}
