@import "../utilities/variables";
@import "../utilities/extends";
@import "../layout/titles";

//Titles
%h1{
  background-color: $color1;
  text-align: center;
  padding: 2rem;
  font-size: 2.5rem;
  color: $color3;
  font-family:"Red Hat Text", serif;
  text-shadow: 3px 2px 3px $color2;
  margin: auto;
}

%h3{
  text-align: center;
  margin-top: 1rem;
  font-size: 1.3rem;
  color: $color3;
  font-family: "Playwrite GB S", serif;
  text-shadow: 1px 1px 2px $color1;
}

%h4{
  font-family: "Playwrite GB S";
  text-shadow: 1px 1px 2px $color1;
  font-size: 1.4rem;
  margin-top: 2rem;
  text-align: center;
  color: $color3;
  font-weight: bold;
}