@import "../utilities/variables";
@import "../utilities/extends";
@import "../layout/titles";

/*About us*/
.aboutUsContainer {
  min-height: 35rem;
  @extend %flex-center;

  .aboutUsWoman,
  .aboutUsMan {
    margin: 2rem;
    @extend %color-combination1;
    border-radius: 10px;
    box-shadow: 2px 2px 10px $color3;
  }

  p {
    margin: 0;
  }
}

.aboutUsContainer img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.aboutUsWoman,
.aboutUsMan {
  max-width: 400px;
  min-height: 1000px;
  max-height: 1400px;
}
