@import "../utilities/variables";
@import "../utilities/extends";


/*About us*/
.aboutUsContainer{
  min-height: 35rem;
  padding: 1rem;
  @extend %flex-center;
}

.aboutUsContainer img{
  max-width: 270px;
  min-width: 100px;
  height: auto;
}

.aboutUsContainer .text1,.text2{
  max-width: 350px;
  min-width: 100px;
  height: auto;
  @extend %color-combination1;
}

.aboutUsContainer img,.text1,.text2{
  border-radius: 10px;
  box-shadow: 2px 2px 10px $color3;
  margin: 1rem;
}

