@import "../utilities/variables";

/*blog*/
.blogContainer{
  padding: 1rem;

  .nav-link{
    background-color: $color2;
    border: 1px solid $color3;
    border-radius: 5px;
    box-shadow: 0 2px 10px $color3a;
    font-family: "Playwrite GB S";
    margin-bottom: 1rem;
  }

  .nav-link:hover{
  color: $color3 !important;
  background: $color1 !important;
  border: none !important;
  }

  .article1, .article2, .article3{
    background-color: $color2;
  }

}

.active{
    background-color: $color3 !important;
    border: none !important;
    color: $color2 !important;

    h4{
        font-family: "Playwrite GB S";
        font-size: 1.4rem;
        text-shadow: 1px 1px 2px $color1;
        text-align: center;
        margin-top: 1rem;
        color: $color3;
        
    }

    p{
      color: $color3 !important;
      padding: 1rem 2rem 1rem 2rem;
      line-height: 1.5rem;
      text-align: justify;
    }
  }




.article1, .article2, .article3{
  box-shadow: 0 2px 10px $color3a;
  border: 5px solid $color3;
  border-radius: 15px;
  padding-bottom: 3rem;
}


.blogContainer Img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}


.readMoreArt {
  margin: 2rem;
  display: flex;
  justify-content: flex-end;

  button{
    background-color: $color1;
    padding: 10px 20px;
    border-radius: 2px;

    a{
      text-decoration: none;
      color: $color3;
      font-family: "Playwrite GB S";
    }
  }
}


