@import "../utilities/variables";
@import "../utilities/extends";


/*blog*/
.blogContainer{
  padding: 2rem 2rem;
  min-width: 280px;
  max-width: 900px;
  margin: auto;
  
  .nav-tabs{
    @extend %flex-center;
    gap: 0.5rem;
  }

  .nav-link{
    background-color: $color2;
    border: 1px solid $color3;
    border-radius: 5px;
    box-shadow: 0 2px 10px $color3a;
    font-family: "Playwrite GB S";
    margin-bottom: 1rem;
    max-width: 200px;
  }

  .nav-link:hover{
  color: $color3 !important;
  background: $color1 !important;
  border: none !important;
  }

  .article1, .article2, .article3{
    background-color: $color2;
  }

}

.active{
    background-color: $color3 !important;
    border: none !important;
    color: $color2 !important;

    p{
      color: $color3 !important;
      padding: 1rem 2rem 1rem 2rem;
      line-height: 1.5rem;
      text-align: justify;
    }
  }

.article1, .article2, .article3{
  box-shadow: 0 2px 10px $color3a;
  border: 5px solid $color3;
  border-radius: 18px;
  padding-bottom: 3rem;
  
}

.blogContainer Img{
  width: 100%;
  min-width: 200px;
  max-height: 400px;
  object-fit: cover;
  object-position: 75% 35%;
  border-radius: 10px 10px 0 0;
  border-radius: 13px 13px 0px 0px;
}
.articleImg{
  margin: 2rem;
  border-radius: 14px 14px 0px 0px;
  box-shadow: 0 2px 15px $color3;
  }

.readMoreArt {
  margin: 2rem;
  display: flex;
  justify-content: flex-end;

  button{
    background-color: $color1;
    padding: 10px 20px;
    border-radius: 2px;

    a{
      text-decoration: none;
      color: $color3;
      font-family: "Playwrite GB S";
    }
  }
}


