@import "../utilities/variables";
@import "../utilities/extends";
@import "../layout/titles";

/*Events*/
#carouselExampleCaptions {
  max-width: 800px;
  min-width: none;
  margin: 0 auto;
}

.carousel-inner {
  margin-top: 20px;
  max-width: 800px;
  border: 5px solid $color3;
  border-radius: 15px;
  padding: 15px;
  background-color: $color3;

  .carousel-item {
    img {
      filter: grayscale(30%);
      width: 100%;
      border-radius: 10px;
    }

    h5 {
      font-size: 2rem;
      font-family: "Playwrite GB S", serif;
      background-color: $color3a;
      border-radius: 40px;
      text-shadow: 1px 1px 5px $color3;
    }
  }
}
