@import "../utilities/variables";
@import "../utilities/extends";
@import "../utilities/mixins";

/*Events*/

.eventTypeSection{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 1rem;
}

.eventType img{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 0.2rem;
}

.eventType{
  background-color: $color3;
  color: $color2;
  font-family:"Red Hat Text";
  padding: 1rem;
  width: 300px;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 1px 5px $color3;
}

.eventType h4{
  margin-top: 0.5rem;
}

:hover.eventType{
  transform: scale(1.3);
  transition: all 0.7s ease-out;
  box-shadow: 0 1px 5px $color2;
}