@import "../utilities/variables";

/*form section*/
.eventsInfo{
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.eventsForm{
  min-width: 250px;
  text-align: center;
  padding: 1rem;
}

.eventsForm label{
  font-family: "Playwrite GB S";
  font-weight: bold;
}
.eventsForm input, textarea{
  background-color: $color2;
  width: 100%;
  height: 2rem;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 3px solid $color3;
  font-family:"Red Hat Text";
  box-shadow: 0 1px 2px $color3;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  text-align: center;
}

.eventsInfo h3{
  max-width: 300px;
  height: fit-content;
  font-size: 2rem;
}