/*location and reservation section*/
.locationReservation{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;
  gap: 3rem;
}

/*location*/
.location{
  text-align: center;
}
.location p{
  color: $color3;
  font-size: 2rem;
  padding: 2rem;
}

.map{
  border-radius: 60px;
  border: 10px solid $color1;
  box-shadow: 0 1px 5px $color3a;
}

/*reservation*/
.reservation{
  padding: 1rem;
  text-align: center;
}

.reservation input, textarea{
  background-color: $color2;
  width: 100%;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 3px solid $color3;
  font-family:"Red Hat Text";
  box-shadow: 0 1px 2px $color3;
  margin-bottom: 1rem;
  text-align: center;
}

.reservation label{
  font-family: "Playwrite GB S";
  font-size: 1.3rem;
}

#submitButton{
  white-space: normal;
  height: auto;
  font-size: 1.5rem;
  font-family: "Playwrite GB S";
  font-weight: bold;
  background-color: $color1;
  box-shadow: 0 1px 3px $color3a;
}
