@import "../utilities/variables";
@import "../utilities/extends";


/*location and reservation section*/
.locationReservation{
  @extend %flex-center;
  padding: 2rem;
  gap: 3rem;
}

/*location*/
.location{
  text-align: center;
}
.location p{
  color: $color3;
  font-size: 2rem;
  padding: 2rem;
}

.map{
  border-radius: 60px;
  border: 10px solid $color1;
  box-shadow: 0 1px 5px $color3a;
}

/*reservation*/
.reservation{
  padding: 1rem;
  text-align: center;
}

.reservation input, textarea{
  @extend %form-input;
}

.reservation label{
  @extend %form-label;
}

#submitButton{
  @extend %form-button;
}
