/*principles*/
.principles{
  background-color: $color1;
  min-height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.principle1,.principle2,.principle3{
  background-color:  $color2;
  border-radius: 40px;
  min-width: 10rem;
  padding: 1rem;
  box-shadow: 0 0 3px $color2;
}

#bowl, #pigs, #heart{
  width: 100%;
  height: 150px;
  object-fit: cover;
  max-width: 17rem;
  height: auto;
  border-radius: 24px;
  box-shadow: 0 1px 5px $color3a;
}