/*palette
  dark green #73AA07;
  bone #E3D9C2;
  light green #A0C307;
  red #ab2702e7;*/


*{margin: 0;
  padding: 0;
}

.container{
  background-color: #dfdbd232;
  width: 100vw;
}

/*heading*/
.headingContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:flex-end;
  padding-right: 20px;
  padding: 20px;
}

#logo{
  width: 200px;
  height: auto;
  padding:30px;
  margin-right: auto;
}

.navBar ul{
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navBar li{
  background-color:#ded4bc;
  border-radius: 15px;
  font-family: "Playwrite GB S", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px #281a09;
}

.navBar li a{
  text-decoration: none;
  font-size: 20px;
  padding: 15px;
  color: #281a09;
}

/*principles*/
.principles{
  background-color: #96b703db;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#principle1,#principle2,#principle3{
  background-color:  #E3D9C2;
  border-radius: 40px;
  margin-top: 80px;
  justify-self: center;
}


#bowl, #pigs, #heart{
  width: auto;
  height: 200px;
  border-radius: 30px;
  margin-top: 10px;
  margin: 20px;
  box-shadow: 0 0 3px #281a09;
}

h3{
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: #263802;
  font-family: "Playwrite GB S", serif;
  text-shadow: 1px 1px 2px #96b70364 ;
}

h1{
  background-color: #96b703db;
  text-align: center;
  padding: 40px;
  font-size: 40px;
  color: #281a09;
  font-family:"Red Hat Text", serif;
  text-shadow: 3px 2px 3px #ded4bc;
  margin-bottom: 30px;
}

/*reviews*/
.reviewSection {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row: auto;
  justify-items: center;
  align-items: center;
  gap: 20px;
}

.reviewSection h4, p {
  font-family: "Red Hat Text", serif;
}

#review1, #review2, #review3, #review4 {
  background-color: #281a09;
  border-radius: 30px;
  padding: 30px;
  color: #ded4bc;

}

/*location and reservation section*/
.locationReservation{
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: auto;
  justify-items: center;
  align-items: center;
}

/*location*/
.location p{
  color: #281a09;
  font-size: 30px;
  text-align: center;
}

.map{
  width: 80%;
  height: 30vw;
  border-radius: 60px;
  border: 10px solid #A0C307;
  box-shadow: 0 1px 5px #281a09;
}

/*reservation*/
.reservation{
  
}

.reservation input, textarea{
  width: 100%;
  border-radius: 10px;
  border: 3px solid #281a09;
  font-family:"Red Hat Text";
  height: 40px;
  margin: 10px;
  font-size: 20px;
  text-align: center;
  box-shadow: 0 1px 2px #281a09;
}

.reservation label{
  font-family: "Playwrite GB S";
}

#submitButton{
  padding: 15px;
  font-family: "Playwrite GB S";
  font-weight: bold;
  font-size: 20px;
  background-color: #A0C307;
  height: 80px;
  box-shadow: 0 1px 3px #281a09;
}

/*footer*/
footer{
  background-color: #281a09;
  color: #ded4bc;
  font-family:"Red Hat Text", serif;
  font-size: 16px
}
.footerContainer{
  padding: 50px;
  height: 150px;
  display: flex;
  align-content:space-evenly;
}

.schedule, .address, .social{
  margin-top: 40px;
}

.schedule ul{
  list-style-type: none;
}

#instagram, #whatsapp{
  color: #ded4bc;
  font-size: 40px;
  margin: 20px;
}

.attribution p{
  color: hwb(71 3% 24% / 0.753);
  text-align: center;
  padding: 20px;
}

.attribution a{
  color: hwb(71 3% 24% / 0.753);
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width:768px){
  #bowl, #pigs, #heart{
  width: auto;
  height: 150px;
  }


.locationReservation{
  display: flex;
  flex-wrap: wrap;
  padding:20px;
}

.map{
  margin-left: 20px;
  height: 50vw;
  margin-bottom: 20px;
}

.reviewSection{
  display: flex;
  flex-wrap: wrap;
}

}