#logo {
  filter: grayscale(20%);
}

#navbarSupportedContent {
  margin-bottom: auto;
}

.navbar-nav {
  gap: 2rem;
  margin: 3rem;
  justify-content: space-between;
}

.navbar-toggler {
  background-color: #d6c7a7;
  border: none;
}

.nav-item {
  background-color: #d6c7a7;
  border-radius: 15px;
  font-family: "Playwrite GB S", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px #261808;
}

.nav-link {
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem;
  color: #261808;
}

.navbar-collapse {
  flex-grow: 0;
}

.active {
  background-color: #85A302;
  border-radius: 15px;
  width: 100%;
  text-align: center;
}

.navbar-nav .nav-item:hover {
  background-color: #85A302;
  border-radius: 15px;
}

/*footer*/
footer {
  background-color: #261808;
  color: #d6c7a7;
  font-family: "Red Hat Text", serif;
  font-size: 1rem;
}

.footerContainer {
  padding: 2rem 5rem;
  max-height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.schedule ul {
  list-style-type: none;
}

.schedule ul p {
  margin: 0;
  padding: 0;
  margin-bottom: -5px;
}

.address p {
  padding: 0;
}

.social a {
  font-size: 40px;
  text-decoration: none;
  color: #d6c7a7;
}

.attribution p {
  color: rgba(133, 163, 2, 0.6588235294);
  text-align: center;
  padding: 1.2rem;
  margin: auto;
}

.attribution a {
  color: rgba(133, 163, 2, 0.6588235294);
  text-decoration: none;
}

@media screen and (max-width: 400px) {
  .reservation {
    width: 13rem;
  }
}
/*principles*/
.principles {
  background-color: #85A302;
  min-height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.principle1, .principle2, .principle3 {
  background-color: #d6c7a7;
  border-radius: 40px;
  min-width: 10rem;
  padding: 1rem;
  box-shadow: 0 0 3px #d6c7a7;
}

#bowl, #pigs, #heart {
  width: 100%;
  height: 150px;
  object-fit: cover;
  max-width: 17rem;
  height: auto;
  border-radius: 24px;
  box-shadow: 0 1px 5px rgba(38, 24, 8, 0.737254902);
}

h1 {
  background-color: #85A302;
  text-align: center;
  padding: 2rem;
  font-size: 2.5rem;
  color: #261808;
  font-family: "Red Hat Text", serif;
  text-shadow: 3px 2px 3px #d6c7a7;
  margin: auto;
}

h3 {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.3rem;
  color: #261808;
  font-family: "Playwrite GB S", serif;
  text-shadow: 1px 1px 2px #85A302;
}

/*reviews*/
.reviewSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.reviewSection h4, p {
  font-family: "Red Hat Text", serif;
  padding: 2rem;
}

#review1, #review2, #review3, #review4 {
  max-width: 250px;
  background-color: #261808;
  border-radius: 30px;
  padding: 1rem;
  color: #d6c7a7;
}

/*location and reservation section*/
.locationReservation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;
  gap: 3rem;
}

/*location*/
.location {
  text-align: center;
}

.location p {
  color: #261808;
  font-size: 2rem;
  padding: 2rem;
}

.map {
  border-radius: 60px;
  border: 10px solid #85A302;
  box-shadow: 0 1px 5px rgba(38, 24, 8, 0.737254902);
}

/*reservation*/
.reservation {
  padding: 1rem;
  text-align: center;
}

.reservation input, textarea {
  background-color: #d6c7a7;
  width: 100%;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 3px solid #261808;
  font-family: "Red Hat Text";
  box-shadow: 0 1px 2px #261808;
  margin-bottom: 1rem;
  text-align: center;
}

.reservation label {
  font-family: "Playwrite GB S";
  font-size: 1.3rem;
}

#submitButton {
  white-space: normal;
  height: auto;
  font-size: 1.5rem;
  font-family: "Playwrite GB S";
  font-weight: bold;
  background-color: #85A302;
  box-shadow: 0 1px 3px rgba(38, 24, 8, 0.737254902);
}

/*menu*/
.menuHeading {
  position: sticky;
  top: 0;
  z-index: 1;
}

.menuHeading ul {
  list-style: disc;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0.6rem;
  font-family: "Playwrite GB S";
  background-color: #261808;
  font-size: 1.2rem;
}

.menuHeading ul a {
  text-decoration: none;
  color: #d6c7a7;
}

.menuHeading ul li::marker {
  color: #d6c7a7;
}

.menuHeading ul :first-child {
  list-style: none;
}

.menu {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}

.mainCourses, .drinks, .desserts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.2rem;
  padding: 1rem 2rem;
  justify-items: center;
}

.menuSection h3 {
  font-size: 1.2rem;
  margin-top: 1.3rem;
}

.drinks {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.foodItems {
  background-color: #d6c7a7;
  display: grid;
  position: relative;
  padding-bottom: 1rem;
  border-radius: 18px;
  box-shadow: 1px 1px 3px #d6c7a7;
}

.foodItems img {
  position: relative;
  width: 100%;
  max-height: 250px;
  border-radius: 15px 15px 0 0;
}

.details {
  padding: 1.3rem 0.6rem;
  display: grid;
  grid-template-rows: auto 1fr 5px;
  grid-row-gap: 1rem;
  padding-bottom: 2rem;
}

.detailsSub {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
}

.detailsSub h5 {
  font-weight: 600;
  font-size: 1.2rem;
  font-family: "Playwrite GB S";
}

.details p {
  color: #261808;
  font-size: 1rem;
}

.details button {
  background-color: #85A302;
  color: #261808;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  height: fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  box-shadow: 0 1px 3px #261808;
  margin: auto;
}

:hover.details button {
  background-color: #261808;
  color: #d6c7a7;
  transform: scale(1.2);
  transition: all 0.5s ease-out;
}

/*Events*/
.eventTypeSection {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 1rem;
}

.eventType img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 0.2rem;
}

.eventType {
  background-color: #261808;
  color: #d6c7a7;
  font-family: "Red Hat Text";
  padding: 1rem;
  width: 300px;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 1px 5px #261808;
}

.eventType h4 {
  margin-top: 0.5rem;
}

:hover.eventType {
  transform: scale(1.3);
  transition: all 0.7s ease-out;
  box-shadow: 0 1px 5px #d6c7a7;
}

/*form section*/
.eventsInfo {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.eventsForm {
  min-width: 250px;
  text-align: center;
  padding: 1rem;
}

.eventsForm label {
  font-family: "Playwrite GB S";
  font-weight: bold;
}

.eventsForm input, textarea {
  background-color: #d6c7a7;
  width: 100%;
  height: 2rem;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 3px solid #261808;
  font-family: "Red Hat Text";
  box-shadow: 0 1px 2px #261808;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  text-align: center;
}

.eventsInfo h3 {
  max-width: 300px;
  height: fit-content;
  font-size: 2rem;
}

/*blog*/
.blogContainer {
  padding: 1rem;
}
.blogContainer .nav-link {
  background-color: #d6c7a7;
  border: 1px solid #261808;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(38, 24, 8, 0.737254902);
  font-family: "Playwrite GB S";
  margin-bottom: 1rem;
}
.blogContainer .nav-link:hover {
  color: #261808 !important;
  background: #85A302 !important;
  border: none !important;
}
.blogContainer .article1, .blogContainer .article2, .blogContainer .article3 {
  background-color: #d6c7a7;
}

.active {
  background-color: #261808 !important;
  border: none !important;
  color: #d6c7a7 !important;
}
.active h4 {
  font-family: "Playwrite GB S";
  font-size: 1.4rem;
  text-shadow: 1px 1px 2px #85A302;
  text-align: center;
  margin-top: 1rem;
  color: #261808;
}
.active p {
  color: #261808 !important;
  padding: 1rem 2rem 1rem 2rem;
  line-height: 1.5rem;
  text-align: justify;
}

.article1, .article2, .article3 {
  box-shadow: 0 2px 10px rgba(38, 24, 8, 0.737254902);
  border: 5px solid #261808;
  border-radius: 15px;
  padding-bottom: 3rem;
}

.blogContainer Img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.readMoreArt {
  margin: 2rem;
  display: flex;
  justify-content: flex-end;
}
.readMoreArt button {
  background-color: #85A302;
  padding: 10px 20px;
  border-radius: 2px;
}
.readMoreArt button a {
  text-decoration: none;
  color: #261808;
  font-family: "Playwrite GB S";
}

/*About Us*/
.aboutUsContainer {
  min-height: 35rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.aboutUsContainer img {
  max-width: 270px;
  min-width: 100px;
  height: auto;
}

.aboutUsContainer .text1, .text2 {
  max-width: 350px;
  min-width: 100px;
  height: auto;
  background-color: #261808;
  color: #d6c7a7;
}

.aboutUsContainer img, .text1, .text2 {
  border-radius: 10px;
  box-shadow: 2px 2px 10px #261808;
  margin: 1rem;
}

.container {
  background-color: rgba(214, 199, 167, 0.4039215686);
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
