/*palette
  dark green #dfdbd232;
  bone #ded4bc;
  light green #96b703db;
  brown #281a09;*/


*{margin: 0;
  padding: 0;
}

.container{
  background-color: #dfdbd232;
  max-width: 100vw;
  margin: 0 auto;
  
}

/*heading*/
.headingContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#logo{
  width: 200px;
  height: auto;
  margin-right: auto;
  padding: 1rem;
}

.navBar ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 3rem;
}

.navBar li{
  background-color:#ded4bc;
  border-radius: 15px;
  font-family: "Playwrite GB S", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px #281a09;
}

.navBar li a{
  text-decoration: none;
  font-size: 1.3rem;
  padding: 1rem;
  color: #281a09;
}

/*principles*/
.principles{
  background-color: #96b703db;
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.principle1,.principle2,.principle3{
  background-color:  #E3D9C2;
  border-radius: 40px;
  min-width: 13rem;
  padding: 2rem;
}

#bowl, #pigs, #heart{
  width: 100%;
  max-width: 17rem;
  height: auto;
  border-radius: 30px;
  box-shadow: 0 0 3px #281a09;
}

h3{
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  color: #263802;
  font-family: "Playwrite GB S", serif;
  text-shadow: 1px 1px 2px #96b70364 ;
}

h1{
  background-color: #96b703db;
  text-align: center;
  padding: 2rem;
  font-size: 2.5rem;
  color: #281a09;
  font-family:"Red Hat Text", serif;
  text-shadow: 3px 2px 3px #ded4bc;
}

/*reviews*/

.reviewSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.reviewSection h4, p {
  font-family: "Red Hat Text", serif;
}

#review1, #review2, #review3, #review4 {
  max-width: 250px;
  background-color: #281a09;
  border-radius: 30px;
  padding: 1.5rem;
  color: #ded4bc;
}

/*location and reservation section*/
.locationReservation{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;
  gap: 3rem;
}

/*location*/
.location{
  text-align: center;
}
.location p{
  color: #281a09;
  font-size: 2rem;
  padding: 2rem;
}

.map{
  border-radius: 60px;
  border: 10px solid #A0C307;
  box-shadow: 0 1px 5px #281a09;
}

/*reservation*/
.reservation{
  padding: 1rem;
  text-align: center;
}

.reservation input, textarea{
  width: 100%;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 3px solid #281a09;
  font-family:"Red Hat Text";
  box-shadow: 0 1px 2px #281a09;
  margin-bottom: 1rem;
  text-align: center;
}

.reservation label{
  font-family: "Playwrite GB S";
  font-size: 1.3rem;
}

#submitButton{
  white-space: normal;
  height: auto;
  font-size: 1.5rem;
  font-family: "Playwrite GB S";
  font-weight: bold;
  background-color: #A0C307;
  box-shadow: 0 1px 3px #281a09;
}

/*footer*/
footer{
  background-color: #281a09;
  color: #ded4bc;
  font-family:"Red Hat Text", serif;
  font-size: 1rem;
}

.footerContainer{
  padding: 2.1rem;
  max-height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.schedule ul{
  list-style-type: none;
}

#instagram, #whatsapp{
  color: #ded4bc;
  font-size: 40px;
  margin: 1.2rem;
}

.attribution p{
  color: hwb(71 3% 24% / 0.753);
  text-align: center;
  padding: 1.2rem;
}

.attribution a{
  color: hwb(71 3% 24% / 0.753);
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width:400px){
.reservation{
  width: 13rem;
}
}

/*menu*/

.menuHeading ul{
  list-style: disc;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0.6rem;
  font-family: "Playwrite GB S";
  background-color: #263802d4;
  color: #ded4bc;
  font-size: 1.2rem;
}

.menuHeading ul :first-child{
  list-style: none;
}

.menu{
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
  gap: 4rem 2rem;
}

.foodItems{
  background-color: #ded4bc54;
  display: grid;
  position: relative;
  padding-bottom: 1rem;
  border-radius: 18px;
  border: 1px solid #281a095c;
  box-shadow: 0 1px 5px #281a09;
}

.foodItems img{
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0;
}

.details{
  padding: 1.3rem 0.6rem;
  display: grid;
  grid-template-rows: auto 1fr 5px;
  grid-row-gap: 1rem;
  padding-bottom: 2rem;
}

.detailsSub{
  display: grid;
  grid-template-columns: auto auto;
}

.detailsSub h5{
  font-weight: 600;
  font-size: 1rem;
  font-family: "Playwrite GB S";
}

.price{
  text-align: right;
}

.details p{
  color: #281a09;
  font-size: 1rem;
  align-self: stretch;
}

.details button{
  background-color: #A0C307;
  color: #281a09;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  height: fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 5px #263802;
}

/*Events*/


.eventsInfo{
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.eventsForm{
  min-width: 250px;
  text-align: center;
  padding: 1rem;
}

.eventsForm label{
  font-family: "Playwrite GB S";
  font-weight: bold;
}
.eventsForm input, textarea{
  width: 100%;
  height: 2rem;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 3px solid #281a09;
  font-family:"Red Hat Text";
  box-shadow: 0 1px 2px #281a09;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  text-align: center;
}

.eventsInfo h3{
  max-width: 300px;
  height: fit-content;
  font-size: 2rem;
}
